
*{
    margin: 0px;
    overflow-x: hidden;
    padding: 0px;
}
.items{
    margin: 10px 0px;
    padding: 10px 0px;
    display: flex;
    overflow-x: hidden;
position: absolute;
top: 90px;
left: 0px;
z-index: 10;
background-color: white;
    flex-direction: column;
    justify-content: space-evenly;

    align-items: center;
    width: 100vw;
    h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2em;
        margin-top: 30px;
    }
}

.items-container{
    overflow-x: hidden;
    display: flex;
width: 90%;
    padding: 10px;
flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.navbar{
background-color: #0f1111;
height: 50px;
padding: 15px;
display: flex;
align-items: center;
justify-content: space-around;
overflow-y: hidden;
// position: fixed;
width: 100%;
z-index: 20;
.searchInput{
    width: 650px;
    display: flex;
    align-items: center;
    // height: 50px;
//   justify-content: space-between;

}



.accountState{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.cart{
    color: white;
padding: 5px 0px;
    .count{
position: relative;
color: #fcab41;
bottom: 36px;
font-size: 1.1em;
left: 30px;
    }
    span{
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;

    }
}
.navbar-mobile{
    display: none;
}

}


.search-results{
    align-self: flex-end;
    background-color: white;
    
  #result-list{

width:35%;
padding:8px;
position:absolute;
background-color:white;
left:26%;
top:70px;
border:2.5px solid #fcab41;
border-radius:8px;
overflow-y:scroll;
height:50vh;

#list-item{
width: 100%;
flex-direction: column;
align-items: center;

#list-meta{
    width: 100%;
}
}
  }

    }


@media (max-width:1050px){
    .navbar{
.navbar-mobile{
    display: inline-block;
padding: 5px;
}
.searchInput{
    width: 50%;
}
.showMenu{
transition: 0.5s ease-in;
transform: translateX(0px);
}
.hideMenu{
    transition: 0.5s ease-out;
transform: translateX(150px);
}
.accountState{
position: absolute;
right: 0px;
top: 80.5px;
overflow-y: hidden;
padding: 15px;
z-index: 30;
background-color: rgba($color: #000000, $alpha: 0.8);
// color: white;
}
    }
    .search-results{
        align-self: flex-end;
        background-color: white;
        
      #result-list{
    
    width:42%;
    padding:8px;
    position:absolute;
    background-color:white;
    left:30%;
    top:70px;
    border:2.5px solid #fcab41;
    border-radius:8px;
    overflow-y:scroll;
    height:50vh;
    
    #list-item{
    width: 100%;
    flex-direction: column;
    align-items: center;
    
    #list-meta{
        width: 100%;
    }
    }
      }
    
        }
}

@media (max-width:600px){
    .items{
top: 100px;
    }
    .navbar{
        .searchInput{
            position: absolute;
            top: 90px;
// right: 35px;
left: 5%;
            width: 90%;
            padding: 0px;
            margin: 0px;
            margin: 8px 0px;
z-index: 30;
        }
    }
    .search-results{
        align-self: flex-end;
        background-color: white;
        
      #result-list{
    
    width:80%;
    padding:8px;
    position:absolute;
    background-color:white;
    left:10%;
    top:143px;
    border:2.5px solid #fcab41;
    border-radius:8px;
    overflow-y:scroll;
    height:50vh;
    
    #list-item{
    width: 100%;
    flex-direction: column;
    align-items: center;
    
    #list-meta{
        width: 100%;
    }
    }
      }
    
        }
    
}